* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 120px 1fr 60px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #1867c0;
  color: #fff;
  align-items: center;
  padding-bottom: 10px;
  z-index: 1;
  box-shadow: 0px 4px 9px -2px rgba(87, 87, 87, 0.419);
}

.header > h1 {
  margin: 0px;
  font-weight: 300;
  font-size: 2.8rem;
}

.header > h2 {
  margin: 0px;
  font-weight: 200;
  font-size: 1.6rem;
}

.main {
  grid-area: main;
  background-color: #f0f0f0;
  height: calc(100vh - 180px);
  padding: 20px;
}

.modules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.module {
  flex-basis: 32%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.module > ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

.module > ul > li {
  padding: 7px;
  font-size: 1.2rem;
  cursor: pointer;
}

.module > ul > li > a {
  display: flex;
  text-decoration: none;
  color: #222;
}

.module > ul > li:hover {
  background-color: #eee;
}

.module > h3 {
  margin: 0px;
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #1867c0;
}

.content {
  position: relative;
  height: 100%;
  overflow: scroll;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 25px 0px rgba(87, 87, 87, 0.419);
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 1.2rem;
  padding-right: 20px;
  color: #444;
  background-color: #fff;
}

/* COLORS */

.module.green {
  border: 2px solid #4caf50;
}
.module.green > h3 {
  background-color: #4caf50;
}

.module.red {
  border: 2px solid #f44336;
}
.module.red > h3 {
  background-color: #f44336;
}

.module.blue {
  border: 2px solid #2196f3;
}
.module.blue > h3 {
  background-color: #2196f3;
}

.module.purple {
  border: 2px solid #9c27b0;
}
.module.purple > h3 {
  background-color: #9c27b0;
}

.module.orange {
  border: 2px solid #ff9800;
}
.module.orange > h3 {
  background-color: #ff9800;
}

.module.dark-green {
  border: 2px solid #1b5e20;
}
.module.dark-green > h3 {
  background-color: #1b5e20;
}

.module.dark-red {
  border: 2px solid #b71c1c;
}
.module.dark-red > h3 {
  background-color: #b71c1c;
}

.module.dark-blue {
  border: 2px solid #0d47a1;
}
.module.dark-blue > h3 {
  background-color: #0d47a1;
}

.module.dark-purple {
  border: 2px solid #4a148c;
}
.module.dark-purple > h3 {
  background-color: #4a148c;
}
